In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tinkoff/stories_description.csv
/kaggle/input/tinkoff/sample_submit.csv
/kaggle/input/tinkoff/transactions.csv
/kaggle/input/tinkoff/customer_test.csv
/kaggle/input/tinkoff/Hack_desc.xlsx
/kaggle/input/tinkoff/customer_train.csv
/kaggle/input/tinkoff/stories_reaction_test.csv
/kaggle/input/tinkoff/stories_reaction_train.csv

In [2]:
import numpy as np
import pandas as pd

In [3]:
stories_desc = pd.read_csv('/kaggle/input/tinkoff/stories_description.csv')
sample_submit = pd.read_csv('/kaggle/input/tinkoff/sample_submit.csv')
transactions = pd.read_csv('/kaggle/input/tinkoff/transactions.csv')
test_cus = pd.read_csv('/kaggle/input/tinkoff/customer_test.csv')
train_cus = pd.read_csv('/kaggle/input/tinkoff/customer_train.csv')

1. Customers train and test preprocessing

In [4]:
def process(cust):
    mar_statuses = cust['marital_status_cd'].unique()
    mar2 = dict(zip(mar_statuses, range(len(mar_statuses))))

    cust['marital_status_cd'] = cust['marital_status_cd'].map(mar2)
    cust['gender_cd'] = cust['gender_cd'].map({'M': 0, 'F': 1})
    cust['age'] = cust['age'].fillna(cust['age'].median())
    cust['children_cnt'] = cust['children_cnt'].fillna(-1)
    cust['gender_cd'] = cust['gender_cd'].fillna(-1)

    
    for i in range(7):
        cust[f'product_{i}'] = cust[f'product_{i}'].fillna('NAN')
        cust[f'product_{i}'] = cust[f'product_{i}'].map({'OPN': 1, 'UTL': 2, 'CLS': 3, 'NAN': 4})
    
    return cust

cus_train = process(train_cus)
cus_test = process(test_cus)
cus_train.head(50)

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,gender_cd,age,marital_status_cd,children_cnt,first_session_dttm,job_position_cd,job_title
0,894436,4,4,4,4,4,2,4,0.0,30.0,0,0.0,2018-03-20 09:10:16,1,Неруководящий сотрудник - обсл. Персонал
1,524526,4,2,4,4,4,2,4,1.0,20.0,1,0.0,2017-03-29 20:38:45,16,NaN
2,498134,4,2,4,4,4,4,4,1.0,25.0,1,0.0,2018-03-12 11:25:06,22,NaN
3,278941,4,4,2,3,4,2,2,0.0,25.0,2,-1.0,2016-02-21 18:47:51,16,Неруководящий сотрудник - специалист
4,877312,4,2,4,4,4,4,4,1.0,40.0,0,0.0,2018-03-07 11:17:02,22,NaN
5,821806,4,4,4,2,4,2,4,1.0,25.0,2,0.0,2018-01-15 09:23:54,22,NaN
6,782728,4,2,4,4,4,4,4,0.0,35.0,0,0.0,2017-12-26 09:02:58,22,NaN
7,540071,4,4,4,4,4,2,4,0.0,30.0,2,0.0,2018-05-07 16:05:38,11,NaN
8,66158,4,2,4,4,4,2,4,1.0,30.0,0,0.0,2013-03-17 08:26:13,22,СПЕЦИАЛИСТ
9,804202,4,4,4,2,4,2,4,0.0,20.0,2,0.0,2017-12-29 14:32:49,11,NaN
10,323753,4,4,4,2,4,2,4,0.0,30.0,2,0.0,2016-05-26 16:44:48,22,NaN
11,244719,4,2,4,4,4,2,4,1.0,25.0,1,0.0,2015-12-09 16:29:54,22,Бренд-атташе
12,110927,2,4,1,4,4,2,4,0.0,25.0,1,0.0,2014-01-08 10:54:09,22,NaN
13,307008,4,3,2,4,4,3,4,0.0,40.0,1,1.0,2016-04-20 07:59:34,22,NaN
14,643021,4,4,4,4,4,2,4,1.0,25.0,2,0.0,2017-08-19 14:54:57,11,NaN
15,739814,4,4,2,4,4,2,4,1.0,60.0,2,0.0,2017-10-22 10:28:01,22,дом
16,816597,4,4,4,4,4,2,4,0.0,30.0,2,0.0,2018-01-11 11:01:01,22,врач-психиатр
17,387428,4,4,1,4,4,2,4,0.0,30.0,0,0.0,2016-09-28 10:04:15,22,Программист
18,134847,4,4,4,2,4,2,4,1.0,40.0,2,-1.0,2014-07-14 08:01:57,22,NaN
19,650669,4,2,4,4,4,2,4,1.0,25.0,0,0.0,2018-03-05 08:56:03,20,Продавец
20,210331,4,2,4,4,4,2,4,1.0,40.0,0,0.0,2016-05-15 12:30:50,11,неофициальная работа
21,143055,4,2,4,4,4,2,4,0.0,30.0,0,1.0,2014-09-18 15:44:26,2,фотограф
22,106750,4,2,4,4,4,2,4,1.0,25.0,1,1.0,2015-09-28 13:15:02,16,NaN
23,392634,4,2,4,4,4,2,4,0.0,30.0,1,0.0,2016-10-15 11:59:26,4,коммерческий директор
24,195762,4,3,4,4,4,2,4,0.0,40.0,0,0.0,2016-06-05 17:17:48,16,РАБОЧИЙ
25,902650,4,4,4,4,4,2,4,1.0,30.0,2,0.0,2018-05-23 14:15:22,22,NaN
26,761975,4,2,4,4,4,4,4,0.0,35.0,0,0.0,2017-12-03 14:19:27,19,Торговый представитель
27,505245,4,4,4,4,4,2,4,1.0,25.0,2,0.0,2017-03-07 18:09:47,22,NaN
28,480749,4,2,4,4,4,4,4,0.0,50.0,1,0.0,2017-02-12 07:59:55,17,завхоз
29,44824,4,2,4,4,4,4,4,0.0,35.0,3,0.0,2018-06-22 16:27:49,8,продажа вейпов
30,11028,4,4,4,2,4,2,4,0.0,45.0,2,-1.0,2012-07-23 05:35:39,22,NaN
31,239164,4,4,4,4,4,2,4,0.0,30.0,1,0.0,2017-07-22 06:02:39,17,МЕХАНИК
32,830854,4,4,4,3,4,2,4,0.0,45.0,2,0.0,2018-01-23 08:34:20,22,NaN
33,303498,4,2,4,4,4,2,4,0.0,35.0,2,0.0,2016-04-11 08:40:30,22,NaN
34,478642,2,2,2,3,4,2,4,0.0,25.0,1,0.0,2017-02-11 10:03:31,22,программист
35,442584,4,2,4,4,4,4,4,0.0,30.0,1,0.0,2017-07-27 01:57:56,16,плотник-бетонщик
36,341657,4,4,4,2,4,2,4,1.0,45.0,2,0.0,2016-07-03 11:40:34,22,NaN
37,663082,4,2,4,4,4,2,4,0.0,35.0,0,0.0,2017-08-29 11:42:56,22,NaN
38,623830,4,2,4,4,4,4,4,0.0,30.0,0,0.0,2017-07-31 09:53:11,20,юристконсульт
39,802333,4,4,4,4,4,2,4,1.0,30.0,2,0.0,2017-12-27 08:08:36,22,Старший руководитель проектов
40,598106,4,4,4,4,4,4,4,0.0,30.0,0,0.0,2017-07-04 20:00:16,16,фотограф
41,762259,4,4,4,4,4,2,4,1.0,25.0,2,0.0,2017-11-23 07:14:16,22,NaN
42,416459,4,2,4,4,2,2,4,1.0,30.0,0,2.0,2016-12-10 09:18:54,16,директор
43,122515,4,4,4,4,4,2,4,0.0,30.0,1,0.0,2014-04-01 08:07:12,17,Архитектор программного обеспечения
44,167588,4,4,4,4,4,2,4,1.0,45.0,2,-1.0,2015-02-10 19:42:59,22,NaN
45,882239,4,3,4,4,4,4,4,1.0,25.0,1,0.0,2018-03-13 11:27:05,19,Администратор
46,836318,4,2,4,4,4,4,4,1.0,25.0,1,0.0,2018-01-28 13:59:59,16,NaN
47,202441,4,4,4,3,4,2,2,0.0,35.0,2,-1.0,2015-06-30 10:22:46,4,Директор орган-ии
48,43989,4,2,4,4,4,4,4,0.0,40.0,0,1.0,2014-03-11 13:32:16,17,Исполнительный Директор
49,99627,4,4,4,4,4,2,4,0.0,25.0,2,-1.0,2013-11-14 05:38:56,22,Продавец

In [5]:
cus_train = cus_train.dropna(subset=['first_session_dttm'])
cus_test = cus_test.dropna(subset=['first_session_dttm'])
cus_train.drop(['job_title'], axis = 1, inplace=True)
cus_test.drop(['job_title'], axis = 1, inplace=True)

print(cus_train.shape)
print(cus_test.shape)

(49997, 14)
(54239, 14)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [6]:
now = pd.to_datetime('now')

In [7]:
now = pd.Timestamp('now')
cus_train['first_ses'] = pd.to_datetime(cus_train['first_session_dttm'])
cus_test['first_ses'] = pd.to_datetime(cus_test['first_session_dttm'])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
cus_train['months_after_first_session']=((now - cus_train['first_ses']).dt.total_seconds() / (60*60*24*12)-12)
cus_test['months_after_first_session']=((now - cus_test['first_ses']).dt.total_seconds() / (60*60*24*12)-12)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2. Transactions processing

In [9]:
#We have transactions made in May-July
transactions.transaction_month.min() #5
transactions.transaction_month.max() #7

7

In [10]:
def process_trans(data):
    if data['merchant_mcc'] in [5122, 5292, 5295, 5912]:
        return 'Pharmacy'
    if data['merchant_mcc'] in [1520, 1711, 1731, 1740, 1750, 1761, 1771, 1799, 2791, 2842, 5261, 
                        5021, 5039, 5046, 5051, 5065, 5072, 5074, 5085, 5198, 5200, 5211, 5231, 5251, 
                        5415, 5712, 5713, 5714, 5718, 5719, 5722, 7622, 7623, 7629, 7641, 7692, 7699]:
        return 'House, Repair'
    if data['merchant_mcc'] in [3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361, 3362, 3363, 
                        3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 
                        3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 
                        3393, 3394, 3395, 3396, 3397, 3398, 3400, 3401, 3402, 3403, 3404, 3405, 3406, 3407, 
                        3408, 3409, 3410, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 
                        3423, 3425, 3426, 3427, 3428, 3429, 3430, 3431, 3432, 3433, 3434, 3435, 3436, 3437, 
                        3438, 3439, 3441, 7512, 7513, 7519, 3364]:
        return 'Car Rental'
    if data['merchant_mcc'] in [5511, 5521, 5531, 5532, 5533, 5571, 7012, 7531, 7534, 7535, 7538, 7542, 7549]:
        return 'Auto Service'
    if data['merchant_mcc'] in [5309]:
        return 'Duty Free'
    if data['merchant_mcc'] in [4011, 4112]:
        return 'Train Tickets'
    if data['merchant_mcc'] in [5995]:
        return 'Animals'
    if data['merchant_mcc'] in [5932, 5937, 5970, 5971, 5972, 5973, 7829, 7832, 7841,5733, 5735]:
        return 'Art, Cinema, Music'
    if data['merchant_mcc'] in [5977, 7230, 7297, 7298]:
        return 'Beauty'
    if data['merchant_mcc'] in [5094, 5137, 5139, 5611, 5621, 5631, 5641, 5651, 5661, 5681, 5691, 5697, 
                                5698, 5699, 5931, 5944, 5949, 5950, 7296, 7631]:
        return 'Clothing and shoes'
    if data['merchant_mcc'] in [7911, 7922, 7929, 7932, 7933, 7941, 7991, 7992, 7993, 7994, 7996, 7997, 
                                7998, 7999, 8664]:
        return 'Entertainments'
    if data['merchant_mcc'] in [5811, 5812, 5813]:
        return 'Restaurants'
    if data['merchant_mcc'] in [5655, 5940, 5941]:
        return 'Sporting goods'
    if data['merchant_mcc'] in [5947]:
        return 'Souvenirs'
    if data['merchant_mcc'] in [5297, 5298, 5300, 5411, 5412, 5422, 5441, 5451, 5462, 5499, 5715, 5921]:
        return 'Supermarkets'
    if data['merchant_mcc'] in [5172, 5541, 5542, 5983]:
        return 'Fuel'
    if data['merchant_mcc'] in [4111, 4121, 4131, 4457, 4468, 4784, 4789, 5013, 4121,
                                5271, 5551, 5561, 5592, 5598, 5599, 7511, 7523, 4121, 7512]:
        return 'Transport'
    if data['merchant_mcc'] in [5044, 5045, 5946, 7332, 7333, 7338, 7339, 7395]:
        return 'Photo and Video'
    if data['merchant_mcc'] in [5814]:
        return 'Fastfood'
    if data['merchant_mcc'] in [5193, 5992]:
        return 'Flowers'
    if data['merchant_mcc'] in [4812, 4813, 4814, 4816, 4829, 4900]:
        return 'Utility Services'
    if data['merchant_mcc'] in [ 6012, 6050, 6051, 6211, 6529, 6530, 6531, 
                                6532, 6533, 6534, 6536, 6537, 6538, 6540]:
        return 'Finances'
    if data['merchant_mcc'] in [7299, 7311, 7372, 7399, 7995, 8999]:
        return 'Business Services'

transactions['mcc'] = transactions['merchant_mcc']   
transactions['mcc'] = transactions.apply(lambda data : process_trans(data), axis=1)
transactions

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_id,merchant_mcc,mcc
0,855115,7,3,1500,4554547,5411,Supermarkets
1,997036,6,6,0,1657528,5411,Supermarkets
2,398237,5,24,2500,26375569,5813,Restaurants
3,997036,6,2,0,16304402,5411,Supermarkets
4,291636,7,25,0,1259505,5411,Supermarkets
...,...,...,...,...,...,...,...
3951110,153986,6,30,29500,92701772,5719,"House, Repair"
3951111,346407,6,18,500,120278116,4816,Utility Services
3951112,358612,6,6,2500,111686898,5691,Clothing and shoes
3951113,346407,6,7,500,2765037,5411,Supermarkets
3951114,346407,7,7,500,122925212,5331,None

In [11]:
transactions.mcc.value_counts()

Supermarkets          1556219
Fastfood               547216
Transport              360585
Restaurants            260129
Fuel                   178480
Pharmacy               122483
Clothing and shoes     111315
House, Repair           93490
Business Services       51618
Utility Services        49325
Beauty                  44267
Art, Cinema, Music      43901
Auto Service            34530
Entertainments          29713
Car Rental              20293
Sporting goods          20292
Train Tickets           17242
Animals                 14242
Finances                12688
Flowers                 11090
Souvenirs                6329
Duty Free                3273
Photo and Video          2424
Name: mcc, dtype: int64

In [12]:
transactions

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_id,merchant_mcc,mcc
0,855115,7,3,1500,4554547,5411,Supermarkets
1,997036,6,6,0,1657528,5411,Supermarkets
2,398237,5,24,2500,26375569,5813,Restaurants
3,997036,6,2,0,16304402,5411,Supermarkets
4,291636,7,25,0,1259505,5411,Supermarkets
...,...,...,...,...,...,...,...
3951110,153986,6,30,29500,92701772,5719,"House, Repair"
3951111,346407,6,18,500,120278116,4816,Utility Services
3951112,358612,6,6,2500,111686898,5691,Clothing and shoes
3951113,346407,6,7,500,2765037,5411,Supermarkets
3951114,346407,7,7,500,122925212,5331,None

In [13]:
transactions.mcc.fillna("No info", inplace=True)
transactions

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_id,merchant_mcc,mcc
0,855115,7,3,1500,4554547,5411,Supermarkets
1,997036,6,6,0,1657528,5411,Supermarkets
2,398237,5,24,2500,26375569,5813,Restaurants
3,997036,6,2,0,16304402,5411,Supermarkets
4,291636,7,25,0,1259505,5411,Supermarkets
...,...,...,...,...,...,...,...
3951110,153986,6,30,29500,92701772,5719,"House, Repair"
3951111,346407,6,18,500,120278116,4816,Utility Services
3951112,358612,6,6,2500,111686898,5691,Clothing and shoes
3951113,346407,6,7,500,2765037,5411,Supermarkets
3951114,346407,7,7,500,122925212,5331,No info

In [14]:
tran_agg = transactions.groupby('customer_id').transaction_amt.agg(
    sum_transaction_amt  = 'sum',
    mean_transaction_amt  = 'mean',
    num_transaction_amt = 'count',
    std_transactions_amt = 'std'
    
)
tran_agg

,sum_transaction_amt,mean_transaction_amt,num_transaction_amt,std_transactions_amt
customer_id,,,,
15,2221000,22210.000000,100,94708.222313
73,1149500,3768.852459,305,12401.381250
91,423500,3588.983051,118,8171.409234
144,5000,1000.000000,5,1172.603940
150,0,0.000000,4,0.000000
...,...,...,...,...
1098683,30000,638.297872,47,942.372859
1099266,17000,1062.500000,16,1641.899307
1099662,9500,339.285714,28,770.444454
1099955,70000,1186.440678,59,2181.225346
1103495,120500,3544.117647,34,5919.110866

In [15]:
#data_amt = transactions.groupby('mcc').transform(lambda x: x / x.max())
#transactions['transaction_normalized'] = data_amt['transaction_amt']

In [16]:
transactions

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_id,merchant_mcc,mcc
0,855115,7,3,1500,4554547,5411,Supermarkets
1,997036,6,6,0,1657528,5411,Supermarkets
2,398237,5,24,2500,26375569,5813,Restaurants
3,997036,6,2,0,16304402,5411,Supermarkets
4,291636,7,25,0,1259505,5411,Supermarkets
...,...,...,...,...,...,...,...
3951110,153986,6,30,29500,92701772,5719,"House, Repair"
3951111,346407,6,18,500,120278116,4816,Utility Services
3951112,358612,6,6,2500,111686898,5691,Clothing and shoes
3951113,346407,6,7,500,2765037,5411,Supermarkets
3951114,346407,7,7,500,122925212,5331,No info

In [17]:
sparse_transactions = pd.pivot_table(transactions, values='transaction_amt', 
                                     index=['customer_id'], aggfunc='sum',
                     columns=['mcc'], fill_value = 0).add_suffix('_amt')
sparse_transactions.head()

mcc,Animals_amt,"Art, Cinema, Music_amt",Auto Service_amt,Beauty_amt,Business Services_amt,Car Rental_amt,Clothing and shoes_amt,Duty Free_amt,Entertainments_amt,Fastfood_amt,...,No info_amt,Pharmacy_amt,Photo and Video_amt,Restaurants_amt,Souvenirs_amt,Sporting goods_amt,Supermarkets_amt,Train Tickets_amt,Transport_amt,Utility Services_amt
customer_id,,,,,,,,,,,,,,,,,,,,,
15,0,1000,0,8500,0,0,247500,2000,39000,50500,...,1580500,8000,0,27500,2500,33000,198500,0,15000,2500
73,0,3500,0,0,8000,24000,61500,1000,68000,6000,...,597000,12500,0,211000,0,0,63000,0,53000,14000
91,0,0,18500,0,0,0,0,0,3000,6500,...,146500,0,0,19500,3500,0,5000,22500,21500,2000
144,0,0,0,0,0,0,0,0,0,0,...,0,3000,0,0,0,0,500,0,0,0
150,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
full_transactions = tran_agg.merge(sparse_transactions, on = 'customer_id')
full_transactions.head(50)

,sum_transaction_amt,mean_transaction_amt,num_transaction_amt,std_transactions_amt,Animals_amt,"Art, Cinema, Music_amt",Auto Service_amt,Beauty_amt,Business Services_amt,Car Rental_amt,...,No info_amt,Pharmacy_amt,Photo and Video_amt,Restaurants_amt,Souvenirs_amt,Sporting goods_amt,Supermarkets_amt,Train Tickets_amt,Transport_amt,Utility Services_amt
customer_id,,,,,,,,,,,,,,,,,,,,,
15,2221000,22210.000000,100,94708.222313,0,1000,0,8500,0,0,...,1580500,8000,0,27500,2500,33000,198500,0,15000,2500
73,1149500,3768.852459,305,12401.381250,0,3500,0,0,8000,24000,...,597000,12500,0,211000,0,0,63000,0,53000,14000
91,423500,3588.983051,118,8171.409234,0,0,18500,0,0,0,...,146500,0,0,19500,3500,0,5000,22500,21500,2000
144,5000,1000.000000,5,1172.603940,0,0,0,0,0,0,...,0,3000,0,0,0,0,500,0,0,0
150,0,0.000000,4,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,1000,1000.000000,1,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,187000,647.058824,289,2792.599347,0,0,0,27000,0,0,...,57500,5000,0,4000,0,2500,27000,0,29000,1500
183,15000,2500.000000,6,2366.431913,0,0,0,0,0,0,...,1000,0,0,1000,0,0,6500,0,0,0
192,1500,750.000000,2,353.553391,0,0,0,0,0,0,...,0,0,0,0,0,0,500,0,0,0
362,147500,852.601156,173,1712.626382,0,0,0,1000,0,0,...,8500,7500,0,12000,0,0,63000,0,8000,16500
446,16000,1142.857143,14,1433.507954,0,0,0,0,0,0,...,2500,1500,0,500,0,0,4000,0,0,0
521,197500,607.692308,325,1101.669285,0,4500,1500,0,24000,0,...,40500,2000,0,22500,0,1500,49000,0,6000,7000
536,26500,490.740741,54,610.372147,0,500,3500,0,0,0,...,8500,0,0,500,0,0,4000,0,0,500
588,11000,2200.000000,5,1788.854382,0,0,0,0,7000,0,...,0,0,0,500,0,0,0,0,0,0
612,284500,4741.666667,60,17569.352087,0,0,0,6000,3500,0,...,246000,3500,0,500,0,4000,2000,0,5500,3500
629,7500,214.285714,35,327.326835,0,0,0,0,0,0,...,0,0,0,0,0,0,6500,0,500,0
652,32000,842.105263,38,1680.995776,0,0,0,0,1000,0,...,8500,0,0,0,0,0,7000,0,0,500
716,61500,368.263473,167,791.908616,3000,0,0,8000,0,0,...,10000,1000,0,0,0,0,29500,0,0,0
791,319000,1945.121951,164,3538.574544,0,4000,0,2000,15000,11500,...,81000,2000,0,48000,1000,0,46000,12000,10000,19500
794,6000,2000.000000,3,0.000000,0,0,0,0,0,0,...,4000,0,0,0,0,0,2000,0,0,0
804,36000,692.307692,52,2079.672500,0,0,15000,0,0,0,...,0,2500,0,0,0,0,15000,0,0,0
807,35000,853.658537,41,1113.799255,0,0,0,0,0,0,...,10000,0,0,0,0,0,8000,0,0,500
830,335500,5242.187500,64,14678.564489,0,1500,0,0,0,22500,...,202000,0,0,4500,0,35500,3000,26000,10500,1500
882,104000,920.353982,113,1934.838462,0,2000,0,4000,0,0,...,26500,1000,0,11500,0,500,33500,0,0,500
885,3000,200.000000,15,316.227766,0,0,0,0,0,0,...,2000,0,0,0,0,0,1000,0,0,0
928,3000,272.727273,11,343.775825,0,0,0,0,0,0,...,0,0,0,500,0,0,500,0,0,0
936,76000,291.187739,261,616.658900,0,0,500,1500,0,0,...,4500,0,0,15000,0,0,17000,500,13500,500
972,123500,776.729560,159,1362.527202,0,0,1500,10000,0,0,...,10000,10500,0,0,0,0,58500,10000,0,0
995,33000,1500.000000,22,2516.611478,0,0,0,0,0,0,...,10500,0,0,0,0,0,4000,0,0,0
1067,259500,1297.500000,200,3473.553168,0,1000,0,13000,15000,0,...,61500,8500,0,27500,1000,0,4500,5500,4500,3000
1087,1106500,4572.314050,242,19078.456111,0,2500,0,23000,0,19000,...,606500,8000,0,38500,0,7000,72500,58500,11000,12500
1092,1949500,20521.052632,95,40783.413125,0,0,0,0,2500,0,...,1892000,0,0,6500,0,0,21000,5000,6000,6500
1111,210000,933.333333,225,1857.657896,0,0,4500,1500,0,10000,...,41000,1000,0,44500,0,16000,28000,0,1000,4000
1144,121500,4189.655172,29,6323.727700,0,0,0,1000,13000,0,...,56000,0,0,500,0,0,3000,0,0,4500
1156,30500,693.181818,44,740.960322,0,0,2500,0,3000,0,...,7500,0,0,0,0,0,5500,0,2500,4500
1162,15500,442.857143,35,397.999198,0,0,0,0,0,0,...,500,0,0,2500,0,0,8500,0,0,0
1197,61500,778.481013,79,1111.555953,0,0,7500,0,0,0,...,7500,2000,500,2500,0,0,10000,0,0,500
1230,11000,1375.000000,8,1093.813774,0,0,0,1500,0,0,...,0,0,0,0,0,0,1500,0,0,0
1233,18500,1233.333333,15,1032.795559,0,0,0,0,0,0,...,7000,0,0,0,0,0,5500,0,0,500
1264,0,0.000000,1,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1268,94500,1500.000000,63,2207.026901,0,0,0,11000,0,0,...,25500,5000,0,7500,0,0,13000,10500,2500,0
1287,5500,550.000000,10,497.214463,0,0,0,0,0,0,...,1500,0,0,0,0,0,0,0,0,2000
1300,15500,397.435897,39,564.048887,0,0,0,0,0,0,...,7000,0,0,0,0,0,5000,0,0,0
1356,18500,2312.500000,8,3872.406967,0,0,0,0,0,0,...,15000,0,0,0,0,0,0,0,0,3500
1374,199500,4750.000000,42,17703.606495,0,1000,1500,9000,3000,0,...,11500,5000,0,500,0,0,9000,0,123500,5000
1427,404000,11542.857143,35,34310.942224,0,0,0,0,0,0,...,76500,2000,0,0,0,0,0,0,0,0
1432,272500,3323.170732,82,4661.618931,500,0,0,17000,0,0,...,174500,1000,0,2500,0,0,9500,0,0,0
1456,21000,3000.000000,7,6184.658438,0,0,0,0,0,0,...,17000,0,0,0,0,0,3500,0,0,0
1470,5500,70.512821,78,175.150380,500,0,0,0,0,0,...,500,0,0,500,0,0,4000,0,0,0
1533,65000,902.777778,72,1170.767441,0,7500,0,1000,1500,0,...,1500,6000,0,5000,0,0,12500,0,2000,19500

In [19]:
full_transactions.std_transactions_amt=full_transactions.std_transactions_amt.fillna(0)

3. Reactions processing

In [20]:
def label2id():
    return {
        'dislike': 1,
        'skip': 2, 
        'view': 3,
        'like': 4,
    }

def id2w():
    return {
        1: -10,
        2: -0.1,
        3: 0.1,
        4: 0.5,
    }

In [21]:
def process_reactions(reactions):
    reactions = reactions.copy()
    month = reactions['event_dttm'].dt.month
    month.name = 'month'
    weekday = reactions['event_dttm'].dt.weekday
    weekday.name = 'weekday'
    day = reactions['event_dttm'].dt.day
    day.name = 'day'
    hour = reactions['event_dttm'].dt.hour
    hour.name = 'hour'
    minute = reactions['event_dttm'].dt.minute
    minute.name = 'minute'
    is_weekend = weekday.between(5, 6).astype(int)
    is_weekend.name = 'is_weekend'
    
           
    new_reactions = pd.concat([reactions, month, weekday, day, hour, minute, is_weekend], axis=1)
    
    return new_reactions

stories_train = pd.read_csv('/kaggle/input/tinkoff/stories_reaction_train.csv', parse_dates=['event_dttm'])
train_reactions = process_reactions(stories_train)


stories_test = pd.read_csv('/kaggle/input/tinkoff/stories_reaction_test.csv', parse_dates=['event_dttm'])
test_reactions = process_reactions(stories_test)

In [22]:
train_agg =  train_reactions.groupby(['customer_id']).agg({'story_id': 'count'})
train_agg['story_count']=train_agg['story_id']
train_agg.drop('story_id', axis=1, inplace=True)
train_reactions = train_reactions.merge(train_agg, on=['customer_id'])
labelid = label2id()
train_reactions['event'] = train_reactions['event'].map(labelid)


test_agg =  test_reactions.groupby(['customer_id']).agg({'story_id': 'count'})
test_agg['story_count']=test_agg['story_id'] #amount of stories a user has seen
test_agg.drop('story_id', axis=1, inplace=True)
test_reactions = test_reactions.merge(test_agg, on=['customer_id'])

In [23]:
train_reactions

,customer_id,story_id,event_dttm,event,month,weekday,day,hour,minute,is_weekend,story_count
0,15,138,2018-07-24 15:33:22,3,7,1,24,15,33,0,49
1,15,202,2018-06-04 08:08:08,2,6,0,4,8,8,0,49
2,15,222,2018-06-17 13:44:45,2,6,6,17,13,44,1,49
3,15,379,2018-05-23 05:41:43,2,5,2,23,5,41,0,49
4,15,544,2018-07-25 02:16:29,3,7,2,25,2,16,0,49
...,...,...,...,...,...,...,...,...,...,...,...
473136,1103495,1220,2018-07-16 06:26:35,2,7,0,16,6,26,0,31
473137,1103495,1234,2018-07-15 19:44:38,3,7,6,15,19,44,1,31
473138,1103495,1234,2018-07-16 06:26:35,2,7,0,16,6,26,0,31
473139,1103495,1264,2018-07-15 19:44:38,3,7,6,15,19,44,1,31
473140,1103495,1264,2018-07-16 06:26:35,2,7,0,16,6,26,0,31

In [24]:
#We have stories published in Agust only in the test set and stories published in March-July in the train set.
#We can conclude that there is overlapping between stories posting and customers transations in May-July
#but there are no transactions in August to predict user's reaction with. How reliable will be using 
#transactions information from the previous months?

test_reactions.month.max()   #8
test_reactions.month.min()   #8
train_reactions.month.min()  #3
train_reactions.month.max()  #7

7

In [25]:
train_data = train_reactions.merge(cus_train, how='left', on='customer_id')
train_data = train_data.merge(full_transactions, on='customer_id')

test_data = test_reactions.merge(cus_test, how='left', on='customer_id')
test_data = test_data.merge(full_transactions, how='left', on='customer_id')

In [26]:
train_data

,customer_id,story_id,event_dttm,event,month,weekday,day,hour,minute,is_weekend,...,No info_amt,Pharmacy_amt,Photo and Video_amt,Restaurants_amt,Souvenirs_amt,Sporting goods_amt,Supermarkets_amt,Train Tickets_amt,Transport_amt,Utility Services_amt
0,15,138,2018-07-24 15:33:22,3,7,1,24,15,33,0,...,1580500,8000,0,27500,2500,33000,198500,0,15000,2500
1,15,202,2018-06-04 08:08:08,2,6,0,4,8,8,0,...,1580500,8000,0,27500,2500,33000,198500,0,15000,2500
2,15,222,2018-06-17 13:44:45,2,6,6,17,13,44,1,...,1580500,8000,0,27500,2500,33000,198500,0,15000,2500
3,15,379,2018-05-23 05:41:43,2,5,2,23,5,41,0,...,1580500,8000,0,27500,2500,33000,198500,0,15000,2500
4,15,544,2018-07-25 02:16:29,3,7,2,25,2,16,0,...,1580500,8000,0,27500,2500,33000,198500,0,15000,2500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448001,1103495,1220,2018-07-16 06:26:35,2,7,0,16,6,26,0,...,35000,0,0,0,0,0,12500,0,0,0
448002,1103495,1234,2018-07-15 19:44:38,3,7,6,15,19,44,1,...,35000,0,0,0,0,0,12500,0,0,0
448003,1103495,1234,2018-07-16 06:26:35,2,7,0,16,6,26,0,...,35000,0,0,0,0,0,12500,0,0,0
448004,1103495,1264,2018-07-15 19:44:38,3,7,6,15,19,44,1,...,35000,0,0,0,0,0,12500,0,0,0
448005,1103495,1264,2018-07-16 06:26:35,2,7,0,16,6,26,0,...,35000,0,0,0,0,0,12500,0,0,0

In [27]:
test_data.isnull().sum()

customer_id                       0
story_id                          0
event_dttm                        0
answer_id                         0
month                             0
weekday                           0
day                               0
hour                              0
minute                            0
is_weekend                        0
story_count                       0
product_0                         1
product_1                         1
product_2                         1
product_3                         1
product_4                         1
product_5                         1
product_6                         1
gender_cd                         1
age                               1
marital_status_cd                 1
children_cnt                      1
first_session_dttm                1
job_position_cd                   1
first_ses                         1
months_after_first_session        1
sum_transaction_amt           11622
mean_transaction_amt          11622
num_transaction_amt           11622
std_transactions_amt          11622
Animals_amt                   11622
Art, Cinema, Music_amt        11622
Auto Service_amt              11622
Beauty_amt                    11622
Business Services_amt         11622
Car Rental_amt                11622
Clothing and shoes_amt        11622
Duty Free_amt                 11622
Entertainments_amt            11622
Fastfood_amt                  11622
Finances_amt                  11622
Flowers_amt                   11622
Fuel_amt                      11622
House, Repair_amt             11622
No info_amt                   11622
Pharmacy_amt                  11622
Photo and Video_amt           11622
Restaurants_amt               11622
Souvenirs_amt                 11622
Sporting goods_amt            11622
Supermarkets_amt              11622
Train Tickets_amt             11622
Transport_amt                 11622
Utility Services_amt          11622
dtype: int64

In [28]:
test_data

,customer_id,story_id,event_dttm,answer_id,month,weekday,day,hour,minute,is_weekend,...,No info_amt,Pharmacy_amt,Photo and Video_amt,Restaurants_amt,Souvenirs_amt,Sporting goods_amt,Supermarkets_amt,Train Tickets_amt,Transport_amt,Utility Services_amt
0,466906,1152,2018-08-01 00:00:46,0,8,2,1,0,0,0,...,48500.0,1000.0,0.0,500.0,0.0,7000.0,14000.0,0.0,500.0,2500.0
1,466906,1355,2018-08-01 00:00:46,1,8,2,1,0,0,0,...,48500.0,1000.0,0.0,500.0,0.0,7000.0,14000.0,0.0,500.0,2500.0
2,146395,537,2018-08-01 00:02:08,2,8,2,1,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,146395,1368,2018-08-14 03:11:59,108851,8,1,14,3,11,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,897303,915,2018-08-01 00:02:30,3,8,2,1,0,2,0,...,2000.0,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172044,621975,1247,2018-08-22 20:49:33,172044,8,2,22,20,49,0,...,1000.0,500.0,0.0,0.0,0.0,0.0,5500.0,0.0,0.0,0.0
172045,621975,1306,2018-08-22 20:49:33,172045,8,2,22,20,49,0,...,1000.0,500.0,0.0,0.0,0.0,0.0,5500.0,0.0,0.0,0.0
172046,621975,1537,2018-08-22 20:49:33,172046,8,2,22,20,49,0,...,1000.0,500.0,0.0,0.0,0.0,0.0,5500.0,0.0,0.0,0.0
172047,621975,836,2018-08-22 20:49:33,172047,8,2,22,20,49,0,...,1000.0,500.0,0.0,0.0,0.0,0.0,5500.0,0.0,0.0,0.0
172048,621975,381,2018-08-22 20:49:33,172048,8,2,22,20,49,0,...,1000.0,500.0,0.0,0.0,0.0,0.0,5500.0,0.0,0.0,0.0

In [29]:
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

In [30]:
cus_train.to_csv('train_customers.csv', index=False)
cus_test.to_csv('test_customers.csv', index=False)
train_reactions.to_csv('train_reactions.csv', index=False)
test_reactions.to_csv('test_stories_reactions.csv', index=False)

full_transactions.to_csv('full_sparse_transactions.csv', index=False)
transactions.to_csv('transactions.csv', index=False)